In order to import the data and allow the notebook to access files, we mount Google Drive and grant permissions.

In [1]:
from google.colab import drive
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at drive

Let's also import any libraries that we will be needing here.

In [2]:
import csv
import numpy as np
import pandas as pd
import tensorflow as tf

Next, we read our CSV file from the appropriate directory and store it as a 2D array of strings. We will store the data in a pandas dataFrame which is easily compatible with tensorflow. The dataFrame behaves as a 2D array which means lookups are efficient.

The CSV should follow a certain format: the first two rows are headers and labels and the remaining rows contain data.

In [101]:
#find the path to our CSV file within google drive and pass it as an argument to the open call.
#the path will begin with /content/drive/My Drive/ in most cases.
CHFdata = pd.read_csv('/content/drive/My Drive/Heart Failure AI/CHF Data.csv', header=1, dtype=str)
CHFdata.dtypes

monty, year, case #                                            object
Admission Date                                                 object
Age                                                            object
Gender                                                         object
BMI                                                            object
Zip Code                                                       object
Echocardiogram LVEF (%)                                        object
Troponin (highest)                                             object
Hemoglobin A1C                                                 object
Creat (Chem 7 within 24 hours of admission)                    object
GFR                                                            object
BNP (Initial, B-type naturetic peptide)                        object
Urine Tox negative (0) or per history                          object
Urine Tox Pos Stimulant (1)                                    object
Urine Tox Pos Benzo (2)                                        object
Urine Tox Positive Opiate (3)                                  object
Urine Tox Positive THC (4)                                     object
Smoking Currently (Yes/ No)                                    object
Former Smoker                                                  object
Smoking (Pack Year History)                                    object
Marijuana (THC)                                                object
Alcohol (low/high)                                             object
30 day readmission                                             object
60 day readmission                                             object
30 day death                                                   object
60 day death                                                   object
90 day death                                                   object
DM                                                             object
Hypertension                                                   object
Coronary Artery Disease                                        object
Prior Stroke / TIA / Cerebral Vascular Ischemia                object
Atrial Fibrillation                                            object
Peripheral vascular disease                                    object
Obstructive Sleep Apnea                                        object
Aortic Stenosis 0 = No, 1= yes / mild, 2=moderate, 3=severe    object
Dialysis                                                       object
dtype: object

In [99]:
CHFdata

    monty, year, case #  ... Dialysis
0                     1  ...      NaN
1                     2  ...      NaN
2                     3  ...      NaN
3                     4  ...      NaN
4                     5  ...      NaN
..                  ...  ...      ...
115              101815  ...       No
116              101816  ...       No
117              101817  ...       No
118              101818  ...       No
119              101819  ...       No

[120 rows x 36 columns]

We see that our data is stored in the type "object" which encompasses the python string type, str. However, we would want to store some values as integers, booleans, or floats so that they represent actual numbers rather than characters so we do some casting.

In [102]:
#convert yes and no to True and False respectively as a bool
yesNoList = ['30 day readmission', '60 day readmission', '30 day death', '60 day death', '90 day death', 'DM', 'Hypertension',
             'Coronary Artery Disease', 'Prior Stroke / TIA / Cerebral Vascular Ischemia', 'Atrial Fibrillation', 
             'Peripheral vascular disease', 'Obstructive Sleep Apnea', 'Dialysis']
#convert 1 and 0 to True and False respectively as a bool
intBoolList = ['Urine Tox negative (0) or per history', 'Urine Tox Pos Stimulant (1)', 'Urine Tox Pos Benzo (2)',
               'Urine Tox Positive Opiate (3)', 'Urine Tox Positive THC (4)', 'Smoking Currently (Yes/ No)', 'Former Smoker',
               'Marijuana (THC)', 'Alcohol (low/high)']
for i in yesNoList:
    CHFdata[i] = CHFdata[i].map({'Yes':True, 'No':False})
for j in intBoolList:
    CHFdata[j] = CHFdata[j].map({'1':True, '0':False})
CHFdata

    monty, year, case #  ... Dialysis
0                     1  ...      NaN
1                     2  ...      NaN
2                     3  ...      NaN
3                     4  ...      NaN
4                     5  ...      NaN
..                  ...  ...      ...
115              101815  ...    False
116              101816  ...    False
117              101817  ...    False
118              101818  ...    False
119              101819  ...    False

[120 rows x 36 columns]